<div class="row">
    <div class="col-md-4">
        <form action="/send-sms" method="POST" class="card card-body">
            <div class="form-group">
                <input type="text" class="form-control" name="message" placeholder="Write your message" autofocus
                    required>
            </div>
            <div class="form-group">
                <input type="tel" class="form-control" name="phone" placeholder="+0123456789" aria-autocomplete="none"
                    autocomplete="off" required>
            </div>
            <button class="btn btn-primary">SEND</button>
        </form>
    </div>
    <div class="col-md-8">
        {{#if messages}}
        <p class="m-2">List messages</p>
        {{#each messages}}
        <div class="card card-body">
            <p>{{Body}}</p>
            <span>{{hideNumber To}}</span>
        </div>
        {{/each}}
        {{else}}
        <p>No messages yet</p>
        {{/if}}
    </div>
</div>